<template>
  <div id="index">
    <Header />
    <main>
      <div class="main-header">
        <div class="main-nav">
          <p class="main-header-title">Заголовок задачи</p>
          <p class="main-header-title">Описание задачи</p>
          <p class="main-header-title">Дата</p>
          <p class="main-header-title">Время</p>
          <p class="main-header-title">Выполнено</p>
        </div>
        <div class="index-cont">
          <div class="item" v-for="item of arr" :key="item.id">
            <p class="item-p">{{ item.title }}</p>
            <p class="item-p">
              {{ item.info }}
            </p>
            <p class="item-p">{{ item.globalTime }}</p>
            <p class="item-p">{{ item.localeTime }}</p>
            
              <p v-show="item.status == 'Не выполнено'" class="item-p red">{{ item.status }}</p>
              <p v-show="item.status == 'Готово'" class="item-p green">{{ item.status }}</p>
              <p v-show="item.status == 'В прогрессе'" class="item-p blue">{{ item.status }}</p>
           
          </div>
        </div>
      </div>
    </main>
    <Modal v-show="showModal" @close-modal="showModal = false" />
  </div>
</template>

<script>
import Modal from "~/components/Modal.vue";
import { mapActions, mapMutations, mapGetters } from "vuex";
export default {
  data() {
    return {};
  },
  components: { Modal },
  name: "IndexPage",
  computed: {
    ...mapGetters(["arr"]),
  },
  data() {
    return {
      showModal: false,
    };
  },
  methods: {},
};
</script>
<style scoped>
.green {
  color: green;
}
main {
  position: relative;
  top: 170px;
  margin: 0 auto;
  padding-left: 354px;
  left: 0;
  padding-top: 38px;
  z-index: 1;
}

main .main-header {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  z-index: 1;
}

main .main-header .main-nav {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d5d7e4;
  padding-bottom: 10px;
  width: 1130px;
}

main .main-header .main-nav .main-header-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #949494;
}

main .main-header .main-nav .main-header-title:nth-child(1) {
  width: 200px;
  margin-right: 68px;
}

main .main-header .main-nav .main-header-title:nth-child(2) {
  width: 492px;
  margin-right: 37px;
}

main .main-header .main-nav .main-header-title:nth-child(3) {
  width: 50px;
  margin-right: 68px;
}

main .main-header .main-nav .main-header-title:nth-child(4) {
  width: 35px;
  margin-right: 75px;
}

main .main-header .index-cont {
  width: -moz-fit-content;
  width: fit-content;
}

main .main-header .index-cont .item {
  min-height: 70px;
  width: 1130px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d5d7e4;
}

main .main-header .index-cont .item .item-p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

main .main-header .index-cont .item .item-p:nth-child(1) {
  width: 200px;
  margin-right: 68px;
}

main .main-header .index-cont .item .item-p:nth-child(2) {
  width: 492px;
  margin-right: 37px;
}

main .main-header .index-cont .item .item-p:nth-child(3) {
  width: 85px;
  margin-right: 33px;
}

main .main-header .index-cont .item .item-p:nth-child(4) {
  width: 75px;
  margin-right: 45px;
}
</style>
