<template>
  <header>
    <div class="header-top">
      <p class="header-title">Dashboard</p>
      <button class="add-todo" @click="showModal = true">
        Добавить задачу
      </button>
    </div>
    <p class="header-nav title-shit">
      Показать задачи как:
      <span class="header-span activeShit">
        <Nuxt-link to="/index"> Таблица </Nuxt-link>
      </span>
      <span class="header-span activeShit">
        <Nuxt-link to="/table"> Плитка </Nuxt-link>
      </span>
    </p>
    <Modal v-show="showModal" @close-modal="showModal = false" />
  </header>
</template>
<script>
import Modal from "~/components/Modal.vue";
export default {
  components: { Modal },
  data() {
    return {
      showModal: false,
    };
  },
};
</script>

<style>
a.nuxt-link-active {
  color: #007fff;
  text-decoration: none;
}
a.nuxt-link-exact-active {
  color: #007fff;
  text-decoration: none;
}
.header-span {
  margin-left: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #979797;
}
 
</style>
