<template>
  <div class="modal-overlay" @click="$emit('close-modal')">
    <div class="modal" @click.stop>
      <p class="form-title title-modal">Добавить</p>
      <form @submit.prevent="submit" class="modalAdding form1">
        <input name="title" placeholder="Заголовок" type="text" />
        <input name="info" placeholder="Описание" type="text" />
        <input name="globalTime" placeholder="Date" type="date" />
        <input name="localeTime" placeholder="Time" type="time" />
        <select name="status" id="">
          <option value="Не выполнено">Не выполнено</option>
          <option value="Готово">Готово</option>
          <option value="В прогрессе">В прогрессе</option>
        </select>
        <button class="add-btn">Добавить</button>
      </form>
    </div>
    <div class="close" @click="$emit('close-modal')"></div>
  </div>
</template>
<script>
import { mapActions, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  methods: {
    ...mapMutations(["addUser"]),
    submit() {
      let obj = {};
      let fm = new FormData(document.querySelector(".form1"));

      fm.forEach((value, key) => {
        obj[key] = value;
      });
      this.$emit("close-modal");
      // this.addUser(obj);
      // console.log(obj);
      this.addUser(obj)
    },
  },
};
</script>
<style scoped>
.form1 {
}
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 10;
  justify-content: center;
  background-color: #000000da;
}

.modalAdding .add-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border: none;
  width: 438px;
  height: 56px;
  background: #0047ff;
  border-radius: 10px;
}

.modalAdding input,
.modalAdding select {
  outline: 0;
  width: 438px;
  height: 56px;
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 8px;
  padding-left: 20px;
}

.modal {
  text-align: left;
  background-color: white;
  width: 632px;
  height: 577px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 56px 97px;
  z-index: 100 !important;
}
.modalAdding .form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
  color: #000;
  text-align: left;
}

.modalAdding .form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
  color: #000;
  text-align: left;
}
.title-modal {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin-bottom: 32px;
  color: #000000;
}
</style>