<template>
  <div id="app">
    <Nuxt />
  </div>
</template>
<script>
</script>
<style>
@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}



header {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  padding-left: 354px;
}

header .header-top {
  display: flex;
  align-items: center;
}

header .header-top .header-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
}

header .header-top .add-todo {
  width: 183px;
  height: 46px;
  border: none;
  background: #007fff;
  border-radius: 10px;
  margin-left: 26px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

header .header-nav {
  margin-top: 38px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  outline: 0;
  text-decoration: none;
}

header .header-nav a {
  text-decoration: none !important;
}

header .header-nav .header-span {
  margin-left: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #979797;
}

header .header-nav {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
.modal {
  z-index: 100 !important;
}
.green {
  color: green !important;
}
.blue{
  color: #007fff !important;
}
.red{
  color: crimson !important; 
}
.item-p{
white-space: nowrap;
}
</style>