<template>
  <div id="table">
    <Header />
    <main>
      <div class="table-cont">
        <div class="item-table" v-for="item of arr" :key="item.id">
          <p class="table-title">{{ item.title }}</p>
          <p class="table-title">
            {{ item.info }}
          </p>
          <div class="cont-p">
            <p>{{ item.globalTime }}</p>
            <p>{{ item.localeTime }}</p>
          </div>
          <p class="table-bottom">{{ item.status }}</p>
        </div>
      </div>
    </main>
    <Modal v-show="showModal" @close-modal="showModal = false" />
  </div>
</template>

<script>
import Modal from "~/components/Modal.vue";
import { mapActions, mapMutations, mapGetters } from "vuex";
export default {
  components: { Modal },
  computed: {
    ...mapGetters(["arr"]),
  },
  data() {
    return {
      showModal: false,
    };
  },
};
</script>

<style>
.table-cont {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 1200px;
  flex-wrap: wrap;
}

.table-cont .item-table {
  padding: 24px;
  width: 350.67px;
  height: 228px;
  background: #fff;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.table-cont .table-title:nth-child(1) {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000;
  margin-bottom: 11px;
}

.table-cont .table-title:nth-child(2) {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #a5a5b4;
  margin-bottom: 16px;
}

.table-cont .cont-p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  display: flex;
  gap: 26px;
  margin-bottom: 16px;
}

.table-cont .table-bottom {
  font-size: 14px;
}

main {
  position: relative;
  top: 170px;
  margin: 0 auto;
  padding-left: 354px;
  left: 0;
  padding-top: 38px;
}

main .main-header {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

main .main-header .main-nav {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d5d7e4;
  padding-bottom: 10px;
  width: 1130px;
}

main .main-header .main-nav .main-header-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #949494;
}

main .main-header .main-nav .main-header-title:nth-child(1) {
  width: 200px;
  margin-right: 68px;
}

main .main-header .main-nav .main-header-title:nth-child(2) {
  width: 492px;
  margin-right: 37px;
}

main .main-header .main-nav .main-header-title:nth-child(3) {
  width: 50px;
  margin-right: 68px;
}

main .main-header .main-nav .main-header-title:nth-child(4) {
  width: 35px;
  margin-right: 75px;
}
</style>